{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <h1>Confirmar Exclusão de Categoria</h1>
        <nav>
            <a href="{% url 'categoria_list' %}">Voltar à Lista de Categorias</a>
            <a href="{% url 'index' %}">Página Inicial</a>
        </nav>
    </div>
    <div class="container">
        <p>Tem certeza de que deseja excluir a categoria "{{ categoria.nome }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Excluir</button>
            <a href="{% url 'categoria_list' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>